*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #282D35;
  font-family: inter, sans-serif;
  min-height:100vh;
}

.myContainer{
  
  margin: 0 auto;
  text-align: center;
  background: #21222A;
  color: white;
  max-width: 300px;
}

.info-image{
  margin: 0;
  padding: 0;
  width: 100%;
}

.info-name{
  margin: 15px 0px 0px 0px;
  font-size: 1.7rem;
  font-weight: 700;
}

.info-job{
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.info-web{
  margin-bottom: 15px;
  font-size: .7rem;
  color: bisque;
}

.about, .interest{
  margin-top: 15px;
  text-align: left;
  padding: 0px 0px 0px 20px;
}

.about-title, .interest-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.about-p, .interest>p{
  font-size: .8rem;
}

.footer{
  background: #14151a;
  height: 50px;
  font-size: 2.1rem;
}

.fa{
  margin-right: 10px;
}

.row{
  display: flex;
}